ENV=test
DEBUG=true
DISABLE_SECURITY=true
BASE_URL=http://localhost:3001
JWT_SECRET_KEY=your-test-jwt-secret-key
JWT_ALGORITHM=HS256
OSU_CLIENT_ID=test-client-id
OSU_CLIENT_SECRET=test-client-secret
POSTGRESQL_PASSWORD=test-postgres-password
SESSION_SECRET=test-session-secret
